{% load staticfiles %}

<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="{% static 'img\car1.jpg' %}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Interstellar</h1>
              <p>A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival..</p>
              <p><a class="btn btn-lg btn-primary" href="/video/play/interstellar/" role="button">Play</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="{% static 'img\car2.jpg' %}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>The Dark Knight Rises</h1>
              <p>Eight years after the Joker's reign of anarchy, the Dark Knight, with the help of the enigmatic Selia, is forced from his imposed exile to save Gotham City, now on the edge of total annihilation, from the brutal guerrilla terrorist Bane.</p>
              <p><a class="btn btn-lg btn-primary" href="/video/play/dark-knight-rises/" role="button">Play</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="{% static 'img\car3.jpg' %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Avengers: Age of Ultron</h1>
              <p>When Tony Stark tries to jumpstart a dormant peacekeeping program, things go awry and Earth's Mightiest Heroes, including Iron Man, Captain Ameri.....</p>
              <p><a class="btn btn-lg btn-primary" href="/video/play/avengers-age-of-ultron/" role="button">Play</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->